<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".ui.CocosTestActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask" />
        <!-- <activity -->
        <!-- android:name=".ui.DragSelectGameActivity" -->
        <!-- android:exported="false" /> -->
        <activity
            android:name=".ui.HomeActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.StudySelectActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.RegisterActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.LoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.PlanActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.WordLearningActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />
        <activity
            android:name=".ui.VideoActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="false" />

        <meta-data
            android:name="aia-compat-api-min-version"
            android:value="1" />

        <meta-data android:name="android.app.lib_name"
            android:value="cocos2djs" />

    </application>

</manifest>