<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".read.Read"
            android:exported="false"
            android:screenOrientation="landscape"
            />
        <activity
            android:name=".whackMole.WhackMole"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".leftOrRight.LeftOrRight"
            android:exported="false"
            android:screenOrientation="landscape" />
        <activity
            android:name=".Game"
            android:exported="true"
            android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>